
body {
    min-height: 100vh;           /* Ensures the body fills at least the viewport */
    display: flex;               /* Enables Flexbox layout */
    flex-direction: column;      /* Stacks children vertically */
  }
  footer {
    margin-top: auto;            /* Pushes the footer down when content is short */
  }
  
.nav
{
    background-color:#7091E6;
    overflow: hidden;
    border-radius: 1cap;


}
.nav a{
    float: left;
    display: block;
    color: rgba(255, 255, 255, 0.862);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: x-large;

}
.nav a:hover{
    background-color: #adadad;
    color: #8697c4;

}
.nav a.active{
    background-color: #fbe9d0;
    color: #a690a6;
}

.social-links
{
    display: flexbox;
    size:1cap;
    background-color: #7091E6;

}

header{
    background-color: aquamarine;
    float: left;
    display: block;
    text-align: center;
    border: 2cap;
    border: #7091E6;
    border-width: 10cap;
    padding: 14px 20px;
    text-decoration: wavy;
    font-size: x-large;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    
}

footer{
    background-color: beige;
    float: right;
    display: block;
    text-align: center;
    border: 2cap;
    border: #7091E6;
    border-width: 10cap;
    padding: 14px 20px;
    text-decoration: wavy;
    font-size: x-large;
    font-style: normal;

}